body{
   height: 99vh;
   width: 99vw;
   margin: 2px;
}

div{
   text-align: center;
   font-family: 'Luckiest Guy', cursive;
}

.titleContainer{
   height: 19%;
   width: 99.5%;
   border: 1px solid black;
   background-color: rgb(152, 105, 214);
   font-size: 6rem;
   color: black;
   display: inline-block;
}

.panelContainer{
   height: 79%;
   width: 24%;
   border: 1px solid black;
   background-color: rgb(152, 105, 214);
   display: inline-block;
   margin-top: 1%;
   vertical-align: top;
}

.panelTitle{
   height: 7%;
   width: 80%;
   display: inline-block;
   position: relative;
   margin-top: 10%;
   left: 10%;
   font-size: 2rem;
}

.panels{
   height: 9%;
   width: 80%;
   border: 1px solid black;
   background-color: rgb(66, 211, 211);
   display: inline-block;
   position: relative;
   margin-top: 6%;
   left: 10%;
   padding: 10px, 0;
}

.gameContainer{
   height: 79%;
   width: 74%;
   border: 1px solid black;
   background-color: rgb(152, 105, 214);
   display: inline-block;
   margin-top: 1%;
   margin-left: 1%;
}

.cardContainer{
   height: 100%;
   width: 100%;
   display: inline-block;
   position: relative;
}

.cards{
   height: 28%;
   width: 15%;
   border: 1px solid black;
   background-color: pink;
   display: inline-block;
   position: relative;
   top: 6%;
}

.cardBack{
   background-image: url("C:/Users/testr/lfz/monsters-memory-match/assets/images/doors.png");
   height: 100%;
   width: 100%;
   position: absolute;
   background-size: cover;
   background-position: center;
}

.cda{
   background-image: url("C:/Users/testr/lfz/monsters-memory-match/assets/images/cda.jpg");
   height: 100%;
   width: 100%;
   position: absolute;
   background-size: cover;
   background-position: center;
}

.celia{
   background-image: url("C:/Users/testr/lfz/monsters-memory-match/assets/images/celia-mae.png");
   height: 100%;
   width: 100%;
   position: absolute;
   background-size: cover;
   background-position: center;
}

.charlie{
   background-image: url("C:/Users/testr/lfz/monsters-memory-match/assets/images/charlie-proctor.png");
   height: 100%;
   width: 100%;
   position: absolute;
   background-size: cover;
   background-position: center;
}

.fungus{
   background-image: url("C:/Users/testr/lfz/monsters-memory-match/assets/images/fungus.jpg");
   height: 100%;
   width: 100%;
   position: absolute;
   background-size: cover;
   background-position: center;
}

.george{
   background-image: url("C:/Users/testr/lfz/monsters-memory-match/assets/images/george-sanderson.jpg");
   height: 100%;
   width: 100%;
   position: absolute;
   background-size: cover;
   background-position: center;
}

.henry{
   background-image: url("C:/Users/testr/lfz/monsters-memory-match/assets/images/henry-waternoose.jpg");
   height: 100%;
   width: 100%;
   position: absolute;
   background-size: cover;
   background-position: center;
}

.sully{
   background-image: url("C:/Users/testr/lfz/monsters-memory-match/assets/images/james-sullivan.jpg");
   height: 100%;
   width: 100%;
   position: absolute;
   background-size: cover;
   background-position: center;
}

.jerry{
   background-image: url("C:/Users/testr/lfz/monsters-memory-match/assets/images/jerry.jpg");
   height: 100%;
   width: 100%;
   position: absolute;
   background-size: cover;
   background-position: center;
}

.mike{
   background-image: url("C:/Users/testr/lfz/monsters-memory-match/assets/images/mike-wazowski.jpg");
   height: 100%;
   width: 100%;
   position: absolute;
   background-size: cover;
   background-position: center;
}

.needle{
   background-image: url("C:/Users/testr/lfz/monsters-memory-match/assets/images/needleman-and-smitty.png");
   height: 100%;
   width: 100%;
   position: absolute;
   background-size: cover;
   background-position: center;
}

.randall{
   background-image: url("C:/Users/testr/lfz/monsters-memory-match/assets/images/randall-boggs.jpg");
   height: 100%;
   width: 100%;
   position: absolute;
   background-size: cover;
   background-position: center;
}

.roz{
   background-image: url("C:/Users/testr/lfz/monsters-memory-match/assets/images/roz.jpg");
   height: 100%;
   width: 100%;
   position: absolute;
   background-size: cover;
   background-position: center;
}

.thaddeus{
   background-image: url("C:/Users/testr/lfz/monsters-memory-match/assets/images/thaddeus-bile.png");
   height: 100%;
   width: 100%;
   position: absolute;
   background-size: cover;
   background-position: center;
}

.modalContainer{
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgb(0,0,0);
   background-color: rgba(0,0,0,0.4);
}

.modalContent{
   background-color: #fefefe;
   margin: 15% auto;
   padding: 20px;
   border: 1px solid black;
   width: 50%;
   font-size: 30px;
}

.closeModal{
   color: white;
   font-size: 15px;
   font-weight: bold;
   border: 1px solid black;
   background-color: black;
}

.hidden{
   display: none;
}
