.cardContainer{
   height: 100vh;
   width: 100vw;
   margin: auto;
}

.row{
   display: flex;
   height: 25%;
   width: 100%;
}

.card{
   height: 100%;
   width: 20%;
   display: inline-block;
   position: relative;
}

.cardFront{
   height: 100%;
   width: 100%;
   position: absolute;
   background-size: cover;
   background-position: center;
}

.cardBack{
   height: 100%;
   width: 100%;
   position: absolute;
   background-size: cover;
   background-position: center;
}

.hidden{
   display: none;
 }
